.ReadMsgBody {
  width: 100% !important;
}

.ExternalClass {
  width: 100% !important;
}

.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100% !important;
}

@media screen and (max-width: 400px) {
  .columns.two-column .column {
    max-width: 100% !important;
  }
  .columns.two-column .column img {
    max-width: 100% !important;
  }
}
@media screen and (min-width: 401px) {
  .columns.two-column .column {
    max-width: 50% !important;
  }
}
@media screen and (max-width: 400px) {
  .columns.three-column .column {
    max-width: 100% !important;
  }
  .columns.three-column .column img {
    max-width: 100% !important;
  }
}
@media screen and (min-width: 401px) {
  .columns.three-column .column {
    max-width: 33% !important;
  }
}


